# executable file
*.out
*.exe
# binary file
*.bin
# object file
*.o
# disassemble file
*.dump
# assembly file
*.s
# assembly file that interlaced with source lines
*.lst
# vscode settings and configuration
.vscode
# output from build a kernel module
.kernel*
kernelmodule.ko
kernelmodule.mod*
.Module*
.module*
Module*
module*
